UI_BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://restful-booker.herokuapp.com

STANDARD_USER=standard_user
STANDARD_PASSWORD=secret_sauce

API_USERNAME=admin
API_PASSWORD=password123

DEFAULT_TIMEOUT_MS=10000
HEADLESS=true